/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

@import "./mixins";
@import "./vars";
@import "./navbar";
@import "./loader";

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

.card-width {
    width: 18rem;
}

.block-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.threelines-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@import "./mq"
